@import "reset.css";

.slider{
    position: relative;
    overflow: hidden;
    margin: 0 -5px;

    img{
        width: 100%;
    }

    .slides{
        position: relative;
        left: -25%;

        .moveSlides{
            display: flex;
            position: relative;

            .slide{
                margin: 0 5px;
                max-width: #{calc(100% / 4 - 10px)};
                min-width: #{calc(100% / 4 - 10px)};

                img{
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
    }

    .controls{
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 100%;
        padding: 0 25px;
        box-sizing: border-box;

        .prev, .next{
            color: #c2c2c2;
            font-size: 24px;
            opacity: .3;
            transition: .3s;

            &:hover{
                cursor: pointer;
                opacity: 1;
                color: white;
            }
        }
    }

    .hide{
        display: none;
    }
}